body {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

div {
  margin: 50px 200px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;

  background-color: rgb(23, 163, 218);
}
